<%= javascript_include_tag 'index6' %>
<script id="vs" type="x-shader/x-vertex">
  attribute vec3 position;
  attribute vec4 color;
  uniform mat4 mvp_matrix;
  varying vec4 vColor;
  void main(){
    gl_Position = mvp_matrix * vec4(position, 1.0);
    gl_PointSize = 5.0;
    vColor = color;
  }
</script>
<script id="fs" type="x-shader/x-fragment">
  precision mediump float;
  varying vec4 vColor;
  void main(){
    gl_FragColor = vColor;
  }
</script>
<script id="pvs" type="x-shader/x-vertex">
  attribute int num;
  uniform int temp;
  uniform int num;
  uniform float random;
  uniform mat4 mvpMatrix;
  uniform mat4 invMatrix;
  uniform vec3 lightDirection;
  uniform vec3 eyeDirection;
  uniform vec4 ambientColor;
  varying vec4 vColor;
  void main(){
    vec3  invLight = normalize(invMatrix * vec4(lightDirection, 0.0)).xyz;
    vec3  invEye = normalize(invMatrix * vec4(eyeDirection, 0.0)).xyz;
    vec3  halfLE = normalize(invLight + invEye);
    float diffuse = clamp(dot(normal, invLight), 0.0, 1.0);
    float specular = pow(clamp(dot(normal, halfLE), 0.0, 1.0), 50.0);
    vec4  light = color * vec4(vec3(diffuse), 1.0) + vec4(vec3(specular), 1.0);
    vColor = light + ambientColor;
    gl_Position = mvpMatrix * vec4(position, 1.0);
  }

  float rand(const vec2 co){
    return fract(sin(dot(co.xy ,vec2(12.9898,78.233))) * 43758.5453);
  }
</script>
<script id="pfs" type="x-shader/x-fragment">
  precision mediump float;
  varying vec4 vColor;
  void main(){
    gl_FragColor = vColor;
  }
</script>
</head>
<body>
  <canvas id="canvas"></canvas>
  <input type="file" id="file" value="music">
</body>